{% extends 'base.html.twig' %}
{% block section %}

<section>
		<div class="b-breadCumbs s-shadow">
			<div class="container">
				<a href="{{ path('spoiled_car_front_office_homepage') }}" class="b-breadCumbs__page">Accueil</a><span class="fa fa-angle-right"></span><a href="{{ path('spoiled_car_front_office_concept') }}" class="b-breadCumbs__page m-active">Concept</a>
			</div>
		</div><!--b-breadCumbs-->

		<section class="b-best">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-xs-12">
						<div class="b-best__info">
							<header class="s-lineDownLeft b-best__info-head">
								<h2 class="wow zoomInUp" data-wow-delay="0.5s">Un réseau de véhicules sûrs et suivis</h2>
							</header>
							<h6 class="wow zoomInUp" data-wow-delay="0.5s">Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod etg tempor incididunt ut labore dolore magna aliqua. </h6>
							<p class="wow zoomInUp" data-wow-delay="0.5s">Curabitur libero. Donec facilisis velit eu est. Phasellus cons quat. Aenean vitae quam mus etern nunc. Nunc conseq sem velde metus imperdiet lacinia. Aenean vulputate. Donec vene natis leo curabitur at neque ut sapien fusce cursus dapibus ligula Lorem ipsum dolor sitter amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Uit enim ad minim veniami quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commod consequat. Duis aute irure dolor in reprehenderit.</p>
						</div>
					</div>
					<div class="col-sm-6 col-xs-12">
						<img class="img-responsive center-block wow zoomInUp" data-wow-delay="0.5s" alt="best" src="{{asset('bundles/SpoiledCarFrontOffice/media/about/best.jpg')}}" />
					</div>
				</div>
			</div>
		</section><!--b-best-->

		
		<section class="b-best">
			<div class="container">
				<div class="row">
				<div class="col-sm-6 col-xs-12">
						<img class="img-responsive center-block wow zoomInUp" data-wow-delay="0.5s" alt="best" src="{{asset('bundles/SpoiledCarFrontOffice/media/about/best2.jpg')}}" />
					</div>
					<div class="col-sm-6 col-xs-12">
						<div class="b-best__info">
							<header class="s-lineDownLeft b-best__info-head">
								<h2 class="wow zoomInUp" data-wow-delay="0.5s">Une timeline* unique, véritable assistant personnel</h2>
							</header>
							<h6 class="wow zoomInUp" data-wow-delay="0.5s">Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod etg tempor incididunt ut labore dolore magna aliqua. </h6>
							<p class="wow zoomInUp" data-wow-delay="0.5s">Curabitur libero. Donec facilisis velit eu est. Phasellus cons quat. Aenean vitae quam mus etern nunc. Nunc conseq sem velde metus imperdiet lacinia. Aenean vulputate. Donec vene natis leo curabitur at neque ut sapien fusce cursus dapibus ligula Lorem ipsum dolor sitter amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Uit enim ad minim veniami quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commod consequat. Duis aute irure dolor in reprehenderit.</p>
						</div>
					</div>
					
				</div>
			</div>
		</section><!--b-best-->
		
		<section class="b-best">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-xs-12">
						<div class="b-best__info">
							<header class="s-lineDownLeft b-best__info-head">
								<h2 class="wow zoomInUp" data-wow-delay="0.5s">Des avis et des prix pour chaque voiture!


</h2>
							</header>
							<h6 class="wow zoomInUp" data-wow-delay="0.5s">Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod etg tempor incididunt ut labore dolore magna aliqua. </h6>
							<p class="wow zoomInUp" data-wow-delay="0.5s">Curabitur libero. Donec facilisis velit eu est. Phasellus cons quat. Aenean vitae quam mus etern nunc. Nunc conseq sem velde metus imperdiet lacinia. Aenean vulputate. Donec vene natis leo curabitur at neque ut sapien fusce cursus dapibus ligula Lorem ipsum dolor sitter amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Uit enim ad minim veniami quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commod consequat. Duis aute irure dolor in reprehenderit.</p>
						</div>
					</div>
					<div class="col-sm-6 col-xs-12">
						<img class="img-responsive center-block wow zoomInUp" data-wow-delay="0.5s" alt="best" src="{{asset('bundles/SpoiledCarFrontOffice/media/about/best3.jpg')}}" />
					</div>
				</div>
			</div>
		</section><!--b-best-->

		
		<section class="b-more">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-xs-12">
						<div class="b-more__why wow zoomInLeft" data-wow-delay="0.5s">
							<h2 class="s-title">FONCTIONALITES</h2>
							<h4>Analyse et Notifications :</h4></br>
							<ul class="s-list">
								<li><span class="fa fa-check"></span>Apprentissage et ajustement des recommandations depuis l'historique des véhicules d'une communauté.</li>
								<li><span class="fa fa-check"></span>Remplissage automatique du car-eBook de votre voiture.</li>
								<li><span class="fa fa-check"></span>Rappel au bon moment du suivi de votre véhicule. </li>
								<li><span class="fa fa-check"></span>Alertes sur les risques de pannes constatés par la communauté.</li>
							
							</ul>
						</div>
					</div>
			<div class="col-sm-6 col-xs-12">
						<div class="b-more__why wow zoomInLeft" data-wow-delay="0.5s">
							<h2 class="s-title">POURQUOI NOUS CHOISIR</h2>
							<h4> Securitè et Rapport :</h4></br>
							<ul class="s-list">
								<li><span class="fa fa-check"></span>Processus sécurisé d'ajout d'un véhicule.</li>
								<li><span class="fa fa-check"></span>Double vérification lors des transferts de véhicule.</li>
								<li><span class="fa fa-check"></span>Stockage sécurisé des données de votre véhicule.</li>
								<li><span class="fa fa-check"></span>Export de votre Rapport au format PDF.</li>
								<li><span class="fa fa-check"></span>Visualisation de son car-eBook depuis une annonce. </li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section><!--b-more-->
</section>
{% endblock %}